= render partial: 'layouts/signin_registration_header.html'
.container
  .container__signup-panel
    .container__signup-panel__header
      %h2 会員情報入力
    .container__signup-panel__main
      .container__signup-panel__main__form
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = render "devise/shared/error_messages", resource: resource
          .container__signup-panel__main__form__item
            %p ニックネーム
            %span.form-require 必須
            .form-block
              %input(type="nickname" name="nickname" vale="" placeholder="例）FURIMA太郎" class="input-form")
          .container__signup-panel__main__form__item
            = f.label :email, "メールアドレス"
            %span.form-require 必須
            %br/
            = f.email_field :email, placeholder: "PC・携帯どちらでも可", class: "input-form"
          .container__signup-panel__main__form__item
            = f.label :password, "パスワード"
            %span.form-require 必須
            %br/
            = f.password_field :password, placeholder: "パスワード", autocomplete: "new-password", class: "input-form"
          .container__signup-panel__main__form__item
            %p お名前（全角）
            %span.form-require 必須
            .form-block
              %input(type="last_name" name="last_name" vale="" placeholder="例）山田" class="input-form name-form")>
              %input(type="first_name" name="first_name" vale="" placeholder="例）太郎" class="input-form name-form")
          .container__signup-panel__main__form__item
            %p お名前カナ（全角）
            %span.form-require 必須
            .form-block
              %input(type="last_name_jp" name="last_name_jp" vale="" placeholder="例）ヤマダ" class="input-form name-form")>
              %input(type="first_name_jp" name="first_name_jp" vale="" placeholder="例）タロウ" class="input-form name-form")
          .container__signup-panel__main__form__item
            %p 生年月日
            %span.form-require 必須
            .form-block
              %input(type="birth_year" name="birth_year" vale="" placeholder="1900" class="input-form birth-form")
              %span 年
              %input(type="birth_month" name="birth_month" vale="" placeholder="01" class="input-form birth-form")
              %span 月
              %input(type="birth_day" name="birth_day" vale="" placeholder="01" class="input-form birth-form")
              %span 日
          .container__signup-panel__main__form__item
            %p 電話番号
            %span.form-require 必須
            .form-block
              %input(type="phone_number" name="phone_number" vale="" placeholder="" class="input-form")
          .container__signup-panel__main__form__btn
            %p 「会員登録」のボタンを押すことにより<a href="#">利用規約</a>に同意したものとみなします
            = f.submit "会員登録", class: "submit-btn"
= render partial: 'layouts/signin_registration_footer.html'