= render "layouts/header"

.mypage-container.clearfix
  -# サイドバー
  = render "layouts/sidebar"

  -# メイン
  .mypage-right
    .mypage-right_logout
    = link_to 'ログアウト', destroy_user_session_path, class: "mypage-container__main__box__title__inner__content__btn"

-# バナー
= render "products/banner"

-# エキシビジョン
= render "products/exhibition"

-# フッター
= render "layouts/footer"