= render 'layouts/header'

.mypage-container.clearfix
  -# サイドバー
  = render "layouts/sidebar"
  
  .mypage-right
    .mypage-right_logout
    = link_to 'ログアウト', users_sign_out_path, class: logout

-# バナー
= render "products/banner"

-# エキシビジョン
= render "products/exhibition"

-# フッター
= render "layouts/footer"