.transaction-header
  = link_to root_path do
    = image_tag 'logo.png', class: '.products-header__logo', size: '185x49'

.transaction-done
  .transaction-done__content
    .transaction-done__text
      購入が完了しました！
    .transaction-done__image
      = image_tag "#{@product.product_images[0].image_url}",size: '220x150'
    .transaction-done__title
      = @product.name
    .transaction-done__price
      .transaction-done__price--text
        = @product.price
      .transaction-done__price--info
        (送料込み)
        
.transaction-footer
  .transaction-footer--box
    =link_to "プライバシーポリシー", '#' , class: 'products-footer__box-text'
    =link_to "FURIMA利用規約", '#' , class: 'products-footer__box-text'
    =link_to "特定商取引に関する表記", '#' , class: 'products-footer__box-text'
  .transaction-footer--image
    = image_tag 'logo.png', class: 'header_log', size: '185x49'
  .transaction-footer--chara
    © FURIMA, Inc.
