.main
  .mainvisual
    .mainvisual__content
      %h2.mainvisual__content--subtitle
        人生を変えるフリマアプリ
      %p.mainvisual__content--text
        FURIMAは誰でも簡単に誰でも簡単に出品・購入できる
        %br
        フリマアプリです
      .mainvisual__content__icons
        .mainvisual__content__icons--icon
          = image_tag 'app_store_pic.svg', class: 'mainvisual__appstore_icon',size: '180x52'
        .mainvisual__content__icons--icon
          = image_tag 'google_pic.svg', class: 'mainvisual__google_icon',size: '180x52'

  .topintroduction
    %h2.subtitle
      FURIMAが選ばれる3つの理由
    %ul.lists
      %li.lists__list
        .lists__list__pic
          %span.lists__list__pic--number
            1
          .lists__list__pic--image
            = image_tag 'pict-reason-01.jpg', class: 'listpic_left',size: '306x306'
        %h3.lists__list__title
          %span.lists__list__title--key
            3分
          %p.lists__list__title--text
            ですぐに出品
        %p.lists__list--discription
          スマホで入力するだけで簡単に出品できる！
      %li.lists__list
        .lists__list__pic
          %span.lists__list__pic--number
            2
          .lists__list__pic--image
            = image_tag 'pict-reason-02.jpg', class: 'listpic_center',size: '306x306'
        %h3.lists__list__title
          %span.lists__list__title--key
            シンプル
          %p.lists__list__title--text
            で使いやすい
        %p.lists__list--discription
          めんどくさい入力はなく、検索も購入もスムーズ！
      %li.lists__list
        .lists__list__pic
          %span.lists__list__pic--number
            3
          .lists__list__pic--image
            = image_tag 'pict-reason-03.jpg', class: 'listpic_right',size: '306x306'
        %h3.lists__list__title
          %span.lists__list__title--text
            手数料
          %p.lists__list__title--key
            業界最安値
        %p.lists__list--discription
          最大３％でお得に出品＆購入！
  .topmiddle
    .topmiddle__inner
      %h2.topmiddle__inner--subtitle
        会員数日本一位
      %p.topmiddle__inner--text
        FURIMAは、フリマアプリで最も人気
        %br
        出品・購入回数も業界最多です！
        %br
        欲しかった商品に出会えるかもしれません。
      .topmiddle__inner__icons
        .topmiddle__inner__icons--icon
          = image_tag 'app_store_pic.svg', class: 'topmiddle__appstore_icon',size: '140x44'
        .topmiddle__inner__icons--icon
          = image_tag 'google_pic.svg', class: 'topmiddle__google_icon',size: '140x44'

  .topfeatueres
    %h3.subtitle
      FURIMAの特徴
    .items
      %ul.items__item
        %li.items__item--pic
          = image_tag 'icon-01.png', class: 'itempic_lift',size: '170x261'
        %li.items__item--sentence
          簡単に売り買いができる
        %li.items__item--text
          スマホひとつで、いつでもどこでも簡単に商品の出品・購入が可能！
      %ul.items__item
        %li.items__item--pic
          = image_tag 'icon-03.png', class: 'itempic_center',size: '170x261'
        %li.items__item--sentence
          売上金は即日振り込みに対応
        %li.items__item--text
          午前9時までに振り込みをいただければ、翌日に指定の口座に入金いたします。
      %ul.items__item
        %li.items__item--pic
          = image_tag 'icon-04.png', class: 'itempic_right',size: '170x261'
        %li.items__item--sentence
          様々な支払いに対応
        %li.items__item--text
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
  
  .pickupcontainer
    .head
      ピックアップカテゴリー
    .subtitle
      = link_to "新規投稿商品", '#'
    .products
      - @product.each do |product|
        .products__list 
          .products__list--pic
            = image_tag "#{product.product_images[0].image_url}",size: '220x150'
          .products__list__discription
            .products__list__discription--name
              = product.name
            .products__list__discription__core
              .products__list__discription__core--price
                = product.price
                円
              .products__list__discription__core--good
                ★１
            .products__list__discription--tax
              (税込)