= render "layouts/header"
%h1 プロダクト#{@product.id}のページです
%h2 Userid:#{@product.user_id}の商品です
%br/
%ul
  %li
    = image_tag 'curry.png', alt: '', height: '300', width: '400', class: 'img'
    %ul
      %li
        = image_tag 'curry.png', alt: '', height: '120', width: '160', class: 'sub-img'
      %li
        = image_tag 'curry.png', alt: '', height: '120', width: '160', class: 'sub-img'
      %li
        = image_tag 'curry.png', alt: '', height: '120', width: '160', class: 'sub-img'
%br/
%h1 ¥#{@product.price}
%br/
%h2 #{@product.description}
%br/
%table
  %tr
    %th 出品者
    %td 
      = @product.user_id
  %tr
    %th カテゴリー
    %td
      = @product.category_id
  %tr
    %th ブランド
    %td
      = @product.brand
  %tr
    %th 商品のサイズ
    %td
      = @product.products_size_id
  %tr
    %th 商品の状態
    %td
      = @product.condition
  %tr
    %th 配送料の負担
    %td
      = @product.shipping_charges
  %tr
    %th 発送元の地域
    %td
      = @product.shipping_area
  %tr
    %th 発送日の目安
    %td
      = @product.days_to_delivery
%br/
-if user_signed_in? && current_user.id == @product.user_id
  = link_to "商品の編集画面に進む"
  = link_to "出品商品を取り下げる"
-else
  = link_to "購入画面に進む"
= render "layouts/footer"