.header
  = link_to root_path, class: "header__logo" do
    = image_tag 'logo.png'
.container
  .conrainer__registraion
    %p アカウントをお持ちでない方はこちら
    = link_to "新規会員登録", products_registration_path, class: "container__registaration__btn"
  .container__signup
    .container__signup__group
      %input(type="email" name="email" value="" placeholder="メールアドレス" class="container__signup__group__input-text")
    .container__signup__group
      %input(type="password" name="password" value="" placeholder="パスワード" class="container__signup__group__input-text")
    = button_tag "ログイン", type: "submit", class: "container__signup__btn"
.footer
  %ul
    %li
      = link_to "プライバシーポリシー"
    %li
      = link_to "FURIMA利用規約"
    %li
      = link_to "特定商法取引に関する表記"
  = link_to root_path, class: "footer__logo" do
    = image_tag 'logo-white.png'
  %p @ FURIMA